---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import SpeedInsights from '@vercel/speed-insights/astro'

import '../styles/global.less'

interface Props {
  title: string
  description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description } = Astro.props
---

<!-- Algolia DocSearch -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
/>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"
></script>

<meta
  name="msvalidate.01"
  content="9D41D43776743EEA9312CE08774752B8"
/>
<meta
  name="baidu-site-verification"
  content="codeva-5bBM7Az3mp"
/>
<meta
  name="google-site-verification"
  content="Qp6MuYYJvqPH7bFrnlQOiITOwD80iZ0x0BoYBehEUaQ"
/>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>
<meta
  name="generator"
  content={Astro.generator}
/>

<!-- Canonical URL -->
<link
  rel="canonical"
  href={canonicalURL}
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta
  name="title"
  content={title}
/>
<meta
  name="description"
  content={description}
/>

<!-- Open Graph / Facebook -->
<meta
  property="og:type"
  content="article"
/>
<meta
  property="og:url"
  content={Astro.url}
/>
<meta
  property="og:title"
  content={title}
/>
<meta
  property="og:description"
  content={description}
/>

<!-- Twitter -->
<meta
  property="twitter:card"
  content="summary_large_image"
/>
<meta
  property="twitter:url"
  content={Astro.url}
/>
<meta
  property="twitter:title"
  content={title}
/>
<meta
  property="twitter:description"
  content={description}
/>

<script type="module">
  var _hmt = _hmt || []
  ;(function () {
    var hm = document.createElement('script')
    hm.src = 'https://hm.baidu.com/hm.js?11023a824985cf7b4d35a0e8da1f6811'
    var s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(hm, s)
  })()
</script>

<script type="module">
  window.si =
    window.si ||
    function () {
      ;(window.siq = window.siq || []).push(arguments)
    }
</script>


<script type="module">
  docsearch({
    appId: 'EAFR0MP54B',
    apiKey: '46f0d6a17f8bd194814f4bb556b324a4',
    indexName: 'waj9',
    container: '#search-container',
    debug: false,
  })
</script>


<SpeedInsights />
